<settings>
    <setting id="catCount" value="false" />
    <setting id="cat_audio_0" value="" />
    <setting id="cat_audio_1" value="" />
    <setting id="cat_audio_10" value="" />
    <setting id="cat_audio_11" value="" />
    <setting id="cat_audio_12" value="" />
    <setting id="cat_audio_13" value="" />
    <setting id="cat_audio_14" value="" />
    <setting id="cat_audio_15" value="" />
    <setting id="cat_audio_16" value="" />
    <setting id="cat_audio_17" value="" />
    <setting id="cat_audio_18" value="" />
    <setting id="cat_audio_19" value="" />
    <setting id="cat_audio_2" value="" />
    <setting id="cat_audio_3" value="" />
    <setting id="cat_audio_4" value="" />
    <setting id="cat_audio_5" value="" />
    <setting id="cat_audio_6" value="" />
    <setting id="cat_audio_7" value="" />
    <setting id="cat_audio_8" value="" />
    <setting id="cat_audio_9" value="" />
    <setting id="cat_image_0" value="" />
    <setting id="cat_image_1" value="" />
    <setting id="cat_image_10" value="" />
    <setting id="cat_image_11" value="" />
    <setting id="cat_image_12" value="" />
    <setting id="cat_image_13" value="" />
    <setting id="cat_image_14" value="" />
    <setting id="cat_image_15" value="" />
    <setting id="cat_image_16" value="" />
    <setting id="cat_image_17" value="" />
    <setting id="cat_image_18" value="" />
    <setting id="cat_image_19" value="" />
    <setting id="cat_image_2" value="" />
    <setting id="cat_image_3" value="" />
    <setting id="cat_image_4" value="" />
    <setting id="cat_image_5" value="" />
    <setting id="cat_image_6" value="" />
    <setting id="cat_image_7" value="" />
    <setting id="cat_image_8" value="" />
    <setting id="cat_image_9" value="" />
    <setting id="cat_video_0" value="Sports" />
    <setting id="cat_video_1" value="AdultZone" />
    <setting id="cat_video_10" value="" />
    <setting id="cat_video_11" value="" />
    <setting id="cat_video_12" value="" />
    <setting id="cat_video_13" value="" />
    <setting id="cat_video_14" value="" />
    <setting id="cat_video_15" value="" />
    <setting id="cat_video_16" value="" />
    <setting id="cat_video_17" value="" />
    <setting id="cat_video_18" value="" />
    <setting id="cat_video_19" value="" />
    <setting id="cat_video_2" value="KidsZone" />
    <setting id="cat_video_3" value="WorldZone" />
    <setting id="cat_video_4" value="LiveZone" />
    <setting id="cat_video_5" value="" />
    <setting id="cat_video_6" value="" />
    <setting id="cat_video_7" value="" />
    <setting id="cat_video_8" value="" />
    <setting id="cat_video_9" value="" />
    <setting id="forceView" value="false" />
    <setting id="showMessages" value="false" />
    <setting id="viewMode2" value="550" />
</settings>
