<settings>
    <setting id="CMI_ChangeFanart" value="true" />
    <setting id="CMI_DownloadWallpaper" value="true" />
    <setting id="CMI_FindAirDates" value="true" />
    <setting id="CMI_Search1Channel" value="true" />
    <setting id="CMI_SearchPrimeWire" value="true" />
    <setting id="CMI_ShowInfo" value="true" />
    <setting id="auto-view" value="false" />
    <setting id="core-player" value="AUTO" />
    <setting id="customDomain" value="http://solarmovie.tn.my" />
    <setting id="debug-enable" value="false" />
    <setting id="debug-show" value="false" />
    <setting id="default-view" value="50" />
    <setting id="download_folder_movies" value="" />
    <setting id="download_folder_tv" value="" />
    <setting id="download_folder_wallpapers" value="" />
    <setting id="download_method" value="Hidden" />
    <setting id="enableDomain" value="true" />
    <setting id="enableMeta" value="true" />
    <setting id="episode-view" value="515" />
    <setting id="fav.movies.1.name" value="" />
    <setting id="fav.movies.2.name" value="2" />
    <setting id="fav.tv.1.name" value="" />
    <setting id="fav.tv.2.name" value="2" />
    <setting id="fav.tv.3.name" value="3" />
    <setting id="label-empty-favorites" value="false" />
    <setting id="links-view" value="50" />
    <setting id="linksmaxshown" value="9999" />
    <setting id="metadata_movies" value="true" />
    <setting id="metadata_tv" value="true" />
    <setting id="metadata_tv_ep_plot" value="true" />
    <setting id="metadata_tv_episodes" value="true" />
    <setting id="metadata_tv_shows" value="true" />
    <setting id="movies-favorites-clear-enable" value="false" />
    <setting id="movies-view" value="515" />
    <setting id="pages" value="1" />
    <setting id="season-view" value="50" />
    <setting id="tv-favorites-clear-enable" value="false" />
    <setting id="tv-zerolinks-show" value="true" />
    <setting id="tvshows-view" value="515" />
</settings>
