<settings>
    <setting id="live_tv_4music_indexer_enabled" value="true" />
    <setting id="live_tv_4seven_indexer_enabled" value="true" />
    <setting id="live_tv_5usa_1_indexer_enabled" value="true" />
    <setting id="live_tv_5usa_indexer_enabled" value="true" />
    <setting id="live_tv_9xm_indexer_enabled" value="true" />
    <setting id="live_tv_BBC iPlayer_source_enabled" value="true" />
    <setting id="live_tv_CASTALBA.TV_source_enabled" value="true" />
    <setting id="live_tv_FILMON.COM_source_enabled" value="true" />
    <setting id="live_tv_ILIVE.TO_source_enabled" value="true" />
    <setting id="live_tv_ITV PLAYER_source_enabled" value="true" />
    <setting id="live_tv_LIVESTATION.COM_source_enabled" value="true" />
    <setting id="live_tv_NAVI X_source_enabled" value="true" />
    <setting id="live_tv_OFFSIDE STREAMS_source_enabled" value="false" />
    <setting id="live_tv_Playlist Community_source_enabled" value="true" />
    <setting id="live_tv_STREAMTVBOX_source_enabled" value="false" />
    <setting id="live_tv__1_channels_indexer_enabled" value="true" />
    <setting id="live_tv_aastha_tv_indexer_enabled" value="true" />
    <setting id="live_tv_abc_family_indexer_enabled" value="true" />
    <setting id="live_tv_abc_indexer_enabled" value="true" />
    <setting id="live_tv_abp_news_indexer_enabled" value="true" />
    <setting id="live_tv_ahlebait_tv_indexer_enabled" value="true" />
    <setting id="live_tv_ahlulbayt_tv_indexer_enabled" value="true" />
    <setting id="live_tv_al_jazeera_childrens_channel_indexer_enabled" value="true" />
    <setting id="live_tv_al_jazeera_english_indexer_enabled" value="true" />
    <setting id="live_tv_al_magharibia_indexer_enabled" value="true" />
    <setting id="live_tv_alibi_1_indexer_enabled" value="true" />
    <setting id="live_tv_alibi_indexer_enabled" value="true" />
    <setting id="live_tv_animal_planet_1_indexer_enabled" value="true" />
    <setting id="live_tv_animal_planet_indexer_enabled" value="true" />
    <setting id="live_tv_ann_indexer_enabled" value="true" />
    <setting id="live_tv_arabic_indexer_enabled" value="true" />
    <setting id="live_tv_argos_tv_indexer_enabled" value="true" />
    <setting id="live_tv_ary_news_indexer_enabled" value="true" />
    <setting id="live_tv_ary_qtv_indexer_enabled" value="true" />
    <setting id="live_tv_at_the_races_indexer_enabled" value="true" />
    <setting id="live_tv_atn_bangla_indexer_enabled" value="true" />
    <setting id="live_tv_axn_black_indexer_enabled" value="true" />
    <setting id="live_tv_axn_indexer_enabled" value="true" />
    <setting id="live_tv_axn_white_indexer_enabled" value="true" />
    <setting id="live_tv_b4u_music_indexer_enabled" value="true" />
    <setting id="live_tv_babytv_indexer_enabled" value="true" />
    <setting id="live_tv_bangla_tv_indexer_enabled" value="true" />
    <setting id="live_tv_bbc_1_north_ireland_indexer_enabled" value="true" />
    <setting id="live_tv_bbc_alba_indexer_enabled" value="true" />
    <setting id="live_tv_bbc_four_indexer_enabled" value="true" />
    <setting id="live_tv_bbc_news_indexer_enabled" value="true" />
    <setting id="live_tv_bbc_one_indexer_enabled" value="true" />
    <setting id="live_tv_bbc_parliament_indexer_enabled" value="true" />
    <setting id="live_tv_bbc_three_indexer_enabled" value="true" />
    <setting id="live_tv_bbc_two_indexer_enabled" value="true" />
    <setting id="live_tv_believe_tv_indexer_enabled" value="true" />
    <setting id="live_tv_ben_indexer_enabled" value="true" />
    <setting id="live_tv_best_direct_indexer_enabled" value="true" />
    <setting id="live_tv_bet_1_indexer_enabled" value="true" />
    <setting id="live_tv_bet_indexer_enabled" value="true" />
    <setting id="live_tv_bid_tv_indexer_enabled" value="true" />
    <setting id="live_tv_bio_indexer_enabled" value="true" />
    <setting id="live_tv_blighty_indexer_enabled" value="true" />
    <setting id="live_tv_bliss_indexer_enabled" value="true" />
    <setting id="live_tv_bloomberg_television_indexer_enabled" value="true" />
    <setting id="live_tv_bloomberg_uk_indexer_enabled" value="true" />
    <setting id="live_tv_boomerang_1_indexer_enabled" value="true" />
    <setting id="live_tv_boomerang_indexer_enabled" value="true" />
    <setting id="live_tv_bravo_indexer_enabled" value="true" />
    <setting id="live_tv_brit_asia_tv_indexer_enabled" value="true" />
    <setting id="live_tv_british_eurosport_2_indexer_enabled" value="true" />
    <setting id="live_tv_british_eurosport_indexer_enabled" value="true" />
    <setting id="live_tv_bt_sport_1_indexer_enabled" value="true" />
    <setting id="live_tv_bt_sport_2_indexer_enabled" value="true" />
    <setting id="live_tv_buzmuzik_indexer_enabled" value="true" />
    <setting id="live_tv_capital_tv_uk_indexer_enabled" value="true" />
    <setting id="live_tv_cartoon_network_indexer_enabled" value="true" />
    <setting id="live_tv_cartoon_network_too_indexer_enabled" value="true" />
    <setting id="live_tv_cartoonito_indexer_enabled" value="true" />
    <setting id="live_tv_cbbc_indexer_enabled" value="true" />
    <setting id="live_tv_cbeebies_indexer_enabled" value="true" />
    <setting id="live_tv_cbs_action_indexer_enabled" value="true" />
    <setting id="live_tv_cbs_drama_indexer_enabled" value="true" />
    <setting id="live_tv_cbs_indexer_enabled" value="true" />
    <setting id="live_tv_cbs_reality_1_indexer_enabled" value="true" />
    <setting id="live_tv_cbs_reality_indexer_enabled" value="true" />
    <setting id="live_tv_cctv_news_indexer_enabled" value="true" />
    <setting id="live_tv_celebrity_shop_indexer_enabled" value="true" />
    <setting id="live_tv_challenge_1_indexer_enabled" value="true" />
    <setting id="live_tv_challenge_indexer_enabled" value="true" />
    <setting id="live_tv_channel_4_1_indexer_enabled" value="true" />
    <setting id="live_tv_channel_4_indexer_enabled" value="true" />
    <setting id="live_tv_channel_5_1_indexer_enabled" value="true" />
    <setting id="live_tv_channel_5_24_indexer_enabled" value="true" />
    <setting id="live_tv_channel_5_indexer_enabled" value="true" />
    <setting id="live_tv_channel_9_uk_indexer_enabled" value="true" />
    <setting id="live_tv_channel_aka_indexer_enabled" value="true" />
    <setting id="live_tv_channel_i_indexer_enabled" value="true" />
    <setting id="live_tv_channel_s_indexer_enabled" value="true" />
    <setting id="live_tv_chart_show_tv_indexer_enabled" value="true" />
    <setting id="live_tv_chelsea_tv_indexer_enabled" value="true" />
    <setting id="live_tv_citv_indexer_enabled" value="true" />
    <setting id="live_tv_clubland_tv_indexer_enabled" value="true" />
    <setting id="live_tv_cnbc_europe_indexer_enabled" value="true" />
    <setting id="live_tv_cnbc_indexer_enabled" value="true" />
    <setting id="live_tv_cnbc_uk_indexer_enabled" value="true" />
    <setting id="live_tv_cnc_world_indexer_enabled" value="true" />
    <setting id="live_tv_cnn_indexer_enabled" value="true" />
    <setting id="live_tv_cnn_international_indexer_enabled" value="true" />
    <setting id="live_tv_colors_indexer_enabled" value="true" />
    <setting id="live_tv_comedy_central_1_indexer_enabled" value="true" />
    <setting id="live_tv_comedy_central_extra_1_indexer_enabled" value="true" />
    <setting id="live_tv_comedy_central_extra_indexer_enabled" value="true" />
    <setting id="live_tv_comedy_central_indexer_enabled" value="true" />
    <setting id="live_tv_community_channel_indexer_enabled" value="true" />
    <setting id="live_tv_create_and_craft_indexer_enabled" value="true" />
    <setting id="live_tv_crime_and_investigation_network_1_indexer_enabled" value="true" />
    <setting id="live_tv_crime_and_investigation_network_indexer_enabled" value="true" />
    <setting id="live_tv_dance_nation_tv_indexer_enabled" value="true" />
    <setting id="live_tv_dave_indexer_enabled" value="true" />
    <setting id="live_tv_dave_ja_vu_indexer_enabled" value="true" />
    <setting id="live_tv_daystar_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_channel_1_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_channel_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_history_1_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_history_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_home_and_health_1_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_home_and_health_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_real_time_1_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_real_time_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_science_1_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_science_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_shed_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_travel_and_living_indexer_enabled" value="true" />
    <setting id="live_tv_discovery_turbo_indexer_enabled" value="true" />
    <setting id="live_tv_disney_channel_1_indexer_enabled" value="true" />
    <setting id="live_tv_disney_channel_indexer_enabled" value="true" />
    <setting id="live_tv_disney_junior__indexer_enabled" value="true" />
    <setting id="live_tv_disney_junior_indexer_enabled" value="true" />
    <setting id="live_tv_disney_xd_1_indexer_enabled" value="true" />
    <setting id="live_tv_disney_xd_indexer_enabled" value="true" />
    <setting id="live_tv_dm_digital_indexer_enabled" value="true" />
    <setting id="live_tv_dmax_1_indexer_enabled" value="true" />
    <setting id="live_tv_dmax_2_indexer_enabled" value="true" />
    <setting id="live_tv_dmax_indexer_enabled" value="true" />
    <setting id="live_tv_documentary_indexer_enabled" value="true" />
    <setting id="live_tv_drama_indexer_enabled" value="true" />
    <setting id="live_tv_e4_1_indexer_enabled" value="true" />
    <setting id="live_tv_e4_indexer_enabled" value="true" />
    <setting id="live_tv_e_indexer_enabled" value="true" />
    <setting id="live_tv_eden_1_indexer_enabled" value="true" />
    <setting id="live_tv_eden_indexer_enabled" value="true" />
    <setting id="live_tv_english_indexer_enabled" value="true" />
    <setting id="live_tv_entertainment_indexer_enabled" value="true" />
    <setting id="live_tv_espn_2_indexer_enabled" value="true" />
    <setting id="live_tv_espn_indexer_enabled" value="true" />
    <setting id="live_tv_espn_uk_indexer_enabled" value="true" />
    <setting id="live_tv_euronews_indexer_enabled" value="true" />
    <setting id="live_tv_eurosport_2_indexer_enabled" value="true" />
    <setting id="live_tv_eurosport_indexer_enabled" value="true" />
    <setting id="live_tv_ewtn_tv_indexer_enabled" value="true" />
    <setting id="live_tv_extreme_sports_channel_indexer_enabled" value="true" />
    <setting id="live_tv_faith_world_tv_indexer_enabled" value="true" />
    <setting id="live_tv_film4_1_indexer_enabled" value="true" />
    <setting id="live_tv_film4_indexer_enabled" value="true" />
    <setting id="live_tv_fitness_tv_indexer_enabled" value="true" />
    <setting id="live_tv_flava_indexer_enabled" value="true" />
    <setting id="live_tv_food_network_1_indexer_enabled" value="true" />
    <setting id="live_tv_food_network_indexer_enabled" value="true" />
    <setting id="live_tv_forces_tv_indexer_enabled" value="true" />
    <setting id="live_tv_fox__indexer_enabled" value="true" />
    <setting id="live_tv_fox_indexer_enabled" value="true" />
    <setting id="live_tv_fox_news_channel_indexer_enabled" value="true" />
    <setting id="live_tv_fox_news_indexer_enabled" value="true" />
    <setting id="live_tv_france_24_english_indexer_enabled" value="true" />
    <setting id="live_tv_gaming_indexer_enabled" value="true" />
    <setting id="live_tv_gems_tv_extra_indexer_enabled" value="true" />
    <setting id="live_tv_gems_tv_indexer_enabled" value="true" />
    <setting id="live_tv_general_indexer_enabled" value="true" />
    <setting id="live_tv_genres" value="true" />
    <setting id="live_tv_glory_tv_indexer_enabled" value="true" />
    <setting id="live_tv_god_tv_indexer_enabled" value="true" />
    <setting id="live_tv_gold_1_indexer_enabled" value="true" />
    <setting id="live_tv_gold_indexer_enabled" value="true" />
    <setting id="live_tv_good_food_1_indexer_enabled" value="true" />
    <setting id="live_tv_good_food_indexer_enabled" value="true" />
    <setting id="live_tv_gospel_channel_indexer_enabled" value="true" />
    <setting id="live_tv_greatest_hits_tv_indexer_enabled" value="true" />
    <setting id="live_tv_h2_indexer_enabled" value="true" />
    <setting id="live_tv_hbo_indexer_enabled" value="true" />
    <setting id="live_tv_hidayat_tv_indexer_enabled" value="true" />
    <setting id="live_tv_high_street_tv_indexer_enabled" value="true" />
    <setting id="live_tv_history_1_indexer_enabled" value="true" />
    <setting id="live_tv_history_indexer_enabled" value="true" />
    <setting id="live_tv_holiday_cruise_indexer_enabled" value="true" />
    <setting id="live_tv_home_1_indexer_enabled" value="true" />
    <setting id="live_tv_home_indexer_enabled" value="true" />
    <setting id="live_tv_horror_channel_1_indexer_enabled" value="true" />
    <setting id="live_tv_horror_channel_indexer_enabled" value="true" />
    <setting id="live_tv_horse_and_country_indexer_enabled" value="true" />
    <setting id="live_tv_ideal_and_more_indexer_enabled" value="true" />
    <setting id="live_tv_ideal_extra_indexer_enabled" value="true" />
    <setting id="live_tv_ideal_world_indexer_enabled" value="true" />
    <setting id="live_tv_inspiration_indexer_enabled" value="true" />
    <setting id="live_tv_international_indexer_enabled" value="true" />
    <setting id="live_tv_investigation_discovery_indexer_enabled" value="true" />
    <setting id="live_tv_iqra_tv_indexer_enabled" value="true" />
    <setting id="live_tv_islam_channel_indexer_enabled" value="true" />
    <setting id="live_tv_itv1_indexer_enabled" value="true" />
    <setting id="live_tv_itv2_1_indexer_enabled" value="true" />
    <setting id="live_tv_itv2_indexer_enabled" value="true" />
    <setting id="live_tv_itv3_1_indexer_enabled" value="true" />
    <setting id="live_tv_itv3_indexer_enabled" value="true" />
    <setting id="live_tv_itv4_1_indexer_enabled" value="true" />
    <setting id="live_tv_itv4_indexer_enabled" value="true" />
    <setting id="live_tv_itv_1_indexer_enabled" value="true" />
    <setting id="live_tv_itv_encore_indexer_enabled" value="true" />
    <setting id="live_tv_itv_indexer_enabled" value="true" />
    <setting id="live_tv_jewellery_channel_indexer_enabled" value="true" />
    <setting id="live_tv_jewellery_maker_indexer_enabled" value="true" />
    <setting id="live_tv_jml_cookshop_indexer_enabled" value="true" />
    <setting id="live_tv_jml_direct_indexer_enabled" value="true" />
    <setting id="live_tv_jml_home_and_diy_indexer_enabled" value="true" />
    <setting id="live_tv_kerrang_indexer_enabled" value="true" />
    <setting id="live_tv_kicc_tv_indexer_enabled" value="true" />
    <setting id="live_tv_kids_indexer_enabled" value="true" />
    <setting id="live_tv_kiss_indexer_enabled" value="true" />
    <setting id="live_tv_kix_indexer_enabled" value="true" />
    <setting id="live_tv_lamhe_indexer_enabled" value="true" />
    <setting id="live_tv_languages" value="true" />
    <setting id="live_tv_lfc_tv_indexer_enabled" value="true" />
    <setting id="live_tv_lifestyle_indexer_enabled" value="true" />
    <setting id="live_tv_lifetime_1_indexer_enabled" value="true" />
    <setting id="live_tv_lifetime_indexer_enabled" value="true" />
    <setting id="live_tv_loveworld_tv_indexer_enabled" value="true" />
    <setting id="live_tv_luxury_life_indexer_enabled" value="true" />
    <setting id="live_tv_madani_channel_indexer_enabled" value="true" />
    <setting id="live_tv_magic_indexer_enabled" value="true" />
    <setting id="live_tv_massive_randb_indexer_enabled" value="true" />
    <setting id="live_tv_matv_national_indexer_enabled" value="true" />
    <setting id="live_tv_menandmovies_1_indexer_enabled" value="true" />
    <setting id="live_tv_menandmovies_indexer_enabled" value="true" />
    <setting id="live_tv_more4_1_indexer_enabled" value="true" />
    <setting id="live_tv_more4_indexer_enabled" value="true" />
    <setting id="live_tv_more_4_2_indexer_enabled" value="true" />
    <setting id="live_tv_motors_tv_indexer_enabled" value="true" />
    <setting id="live_tv_movies4men_1_indexer_enabled" value="true" />
    <setting id="live_tv_movies4men_indexer_enabled" value="true" />
    <setting id="live_tv_movies_24__indexer_enabled" value="true" />
    <setting id="live_tv_movies_24_indexer_enabled" value="true" />
    <setting id="live_tv_movies_indexer_enabled" value="true" />
    <setting id="live_tv_msnbc_indexer_enabled" value="true" />
    <setting id="live_tv_mta_muslim_tv_indexer_enabled" value="true" />
    <setting id="live_tv_mtv_1_indexer_enabled" value="true" />
    <setting id="live_tv_mtv_base_indexer_enabled" value="true" />
    <setting id="live_tv_mtv_classic_indexer_enabled" value="true" />
    <setting id="live_tv_mtv_dance_indexer_enabled" value="true" />
    <setting id="live_tv_mtv_hits_indexer_enabled" value="true" />
    <setting id="live_tv_mtv_indexer_enabled" value="true" />
    <setting id="live_tv_mtv_music_indexer_enabled" value="true" />
    <setting id="live_tv_mtv_rocks_indexer_enabled" value="true" />
    <setting id="live_tv_music_indexer_enabled" value="true" />
    <setting id="live_tv_music_india_indexer_enabled" value="true" />
    <setting id="live_tv_my_channel_indexer_enabled" value="true" />
    <setting id="live_tv_nat_geo_wild_indexer_enabled" value="true" />
    <setting id="live_tv_national_geographic_channel_1_indexer_enabled" value="true" />
    <setting id="live_tv_national_geographic_channel_indexer_enabled" value="true" />
    <setting id="live_tv_ndtv_24x7_indexer_enabled" value="true" />
    <setting id="live_tv_news_indexer_enabled" value="true" />
    <setting id="live_tv_nick_jr_2_indexer_enabled" value="true" />
    <setting id="live_tv_nick_jr_indexer_enabled" value="true" />
    <setting id="live_tv_nick_replay_indexer_enabled" value="true" />
    <setting id="live_tv_nickelodeon_indexer_enabled" value="true" />
    <setting id="live_tv_nicktoons_indexer_enabled" value="true" />
    <setting id="live_tv_nicktoons_replay_indexer_enabled" value="true" />
    <setting id="live_tv_noor_tv_indexer_enabled" value="true" />
    <setting id="live_tv_ntv_indexer_enabled" value="true" />
    <setting id="live_tv_olive_tv_indexer_enabled" value="true" />
    <setting id="live_tv_open_heaven_tv_indexer_enabled" value="true" />
    <setting id="live_tv_paversshoestv_indexer_enabled" value="true" />
    <setting id="live_tv_pbs_indexer_enabled" value="true" />
    <setting id="live_tv_peace_tv_indexer_enabled" value="true" />
    <setting id="live_tv_peace_tv_urdu_indexer_enabled" value="true" />
    <setting id="live_tv_phoenix_cne_indexer_enabled" value="true" />
    <setting id="live_tv_pick_tv_1_indexer_enabled" value="true" />
    <setting id="live_tv_pick_tv_indexer_enabled" value="true" />
    <setting id="live_tv_pitch_tv_indexer_enabled" value="true" />
    <setting id="live_tv_pitch_world_indexer_enabled" value="true" />
    <setting id="live_tv_pop_girl_1_indexer_enabled" value="true" />
    <setting id="live_tv_pop_girl_indexer_enabled" value="true" />
    <setting id="live_tv_pop_indexer_enabled" value="true" />
    <setting id="live_tv_praise_tv_indexer_enabled" value="true" />
    <setting id="live_tv_price_drop_indexer_enabled" value="true" />
    <setting id="live_tv_price_drop_tv_indexer_enabled" value="true" />
    <setting id="live_tv_propeller_indexer_enabled" value="true" />
    <setting id="live_tv_ptv_global_indexer_enabled" value="true" />
    <setting id="live_tv_ptv_prime_indexer_enabled" value="true" />
    <setting id="live_tv_q_indexer_enabled" value="true" />
    <setting id="live_tv_quest_1_indexer_enabled" value="true" />
    <setting id="live_tv_quest_indexer_enabled" value="true" />
    <setting id="live_tv_qvc_beauty_indexer_enabled" value="true" />
    <setting id="live_tv_qvc_beauty_uk_indexer_enabled" value="true" />
    <setting id="live_tv_qvc_extra_uk_indexer_enabled" value="true" />
    <setting id="live_tv_qvc_indexer_enabled" value="true" />
    <setting id="live_tv_qvc_style_uk_indexer_enabled" value="true" />
    <setting id="live_tv_qvc_uk_indexer_enabled" value="true" />
    <setting id="live_tv_really_indexer_enabled" value="true" />
    <setting id="live_tv_record_tv_indexer_enabled" value="true" />
    <setting id="live_tv_regions" value="true" />
    <setting id="live_tv_religion_indexer_enabled" value="true" />
    <setting id="live_tv_retail_tv_indexer_enabled" value="true" />
    <setting id="live_tv_revelation_indexer_enabled" value="true" />
    <setting id="live_tv_rishtey_indexer_enabled" value="true" />
    <setting id="live_tv_rocks_and_co_1_indexer_enabled" value="true" />
    <setting id="live_tv_rt_indexer_enabled" value="true" />
    <setting id="live_tv_s4c_indexer_enabled" value="true" />
    <setting id="live_tv_sab_tv_indexer_enabled" value="true" />
    <setting id="live_tv_sangat_tv_indexer_enabled" value="true" />
    <setting id="live_tv_scuzz_indexer_enabled" value="true" />
    <setting id="live_tv_shopping_indexer_enabled" value="true" />
    <setting id="live_tv_showcase_tv_1_indexer_enabled" value="true" />
    <setting id="live_tv_sikh_channel_indexer_enabled" value="true" />
    <setting id="live_tv_sky1_1_indexer_enabled" value="true" />
    <setting id="live_tv_sky1_indexer_enabled" value="true" />
    <setting id="live_tv_sky2_indexer_enabled" value="true" />
    <setting id="live_tv_sky_3d_indexer_enabled" value="true" />
    <setting id="live_tv_sky_arts_1_indexer_enabled" value="true" />
    <setting id="live_tv_sky_arts_2_indexer_enabled" value="true" />
    <setting id="live_tv_sky_atlantic_1_indexer_enabled" value="true" />
    <setting id="live_tv_sky_atlantic_indexer_enabled" value="true" />
    <setting id="live_tv_sky_living_1_indexer_enabled" value="true" />
    <setting id="live_tv_sky_living_indexer_enabled" value="true" />
    <setting id="live_tv_sky_livingit_1_indexer_enabled" value="true" />
    <setting id="live_tv_sky_livingit_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_action_and_adventure_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_comedy_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_crime_and_thriller_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_disney_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_drama_and_romance_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_family_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_greats_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_premiere_1_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_premiere_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_sci_fi_and_horror_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_select_indexer_enabled" value="true" />
    <setting id="live_tv_sky_movies_showcase_indexer_enabled" value="true" />
    <setting id="live_tv_sky_news_arabia_indexer_enabled" value="true" />
    <setting id="live_tv_sky_news_indexer_enabled" value="true" />
    <setting id="live_tv_sky_poker_indexer_enabled" value="true" />
    <setting id="live_tv_sky_sports_1_indexer_enabled" value="true" />
    <setting id="live_tv_sky_sports_2_indexer_enabled" value="true" />
    <setting id="live_tv_sky_sports_3_indexer_enabled" value="true" />
    <setting id="live_tv_sky_sports_4_indexer_enabled" value="true" />
    <setting id="live_tv_sky_sports_5_indexer_enabled" value="true" />
    <setting id="live_tv_sky_sports_f1_indexer_enabled" value="true" />
    <setting id="live_tv_sky_sports_news_indexer_enabled" value="true" />
    <setting id="live_tv_smart_live_indexer_enabled" value="true" />
    <setting id="live_tv_smash_hits_indexer_enabled" value="true" />
    <setting id="live_tv_sonlife_broadcasting_network_indexer_enabled" value="true" />
    <setting id="live_tv_sony_entertainment_television_1_indexer_enabled" value="true" />
    <setting id="live_tv_sony_entertainment_television_indexer_enabled" value="true" />
    <setting id="live_tv_sony_movie_channel_1_indexer_enabled" value="true" />
    <setting id="live_tv_sony_movie_channel_indexer_enabled" value="true" />
    <setting id="live_tv_spanish_indexer_enabled" value="true" />
    <setting id="live_tv_speed_auction_indexer_enabled" value="true" />
    <setting id="live_tv_sports_indexer_enabled" value="true" />
    <setting id="live_tv_star_gold_indexer_enabled" value="true" />
    <setting id="live_tv_star_life_ok_indexer_enabled" value="true" />
    <setting id="live_tv_star_plus_indexer_enabled" value="true" />
    <setting id="live_tv_starz_tv_indexer_enabled" value="true" />
    <setting id="live_tv_style_indexer_enabled" value="true" />
    <setting id="live_tv_sumo_tv_indexer_enabled" value="true" />
    <setting id="live_tv_sunrise_tv_indexer_enabled" value="true" />
    <setting id="live_tv_super_casino_indexer_enabled" value="true" />
    <setting id="live_tv_syfy_1_indexer_enabled" value="true" />
    <setting id="live_tv_syfy_indexer_enabled" value="true" />
    <setting id="live_tv_takbeer_tv_indexer_enabled" value="true" />
    <setting id="live_tv_tbn_europe_indexer_enabled" value="true" />
    <setting id="live_tv_tcm_2_indexer_enabled" value="true" />
    <setting id="live_tv_tcm_indexer_enabled" value="true" />
    <setting id="live_tv_thane_direct_indexer_enabled" value="true" />
    <setting id="live_tv_the_active_channel_indexer_enabled" value="true" />
    <setting id="live_tv_the_africa_channel_indexer_enabled" value="true" />
    <setting id="live_tv_the_box_indexer_enabled" value="true" />
    <setting id="live_tv_the_dept_store_indexer_enabled" value="true" />
    <setting id="live_tv_the_vault_indexer_enabled" value="true" />
    <setting id="live_tv_the_word_network_indexer_enabled" value="true" />
    <setting id="live_tv_tiny_pop_1_indexer_enabled" value="true" />
    <setting id="live_tv_tiny_pop_indexer_enabled" value="true" />
    <setting id="live_tv_trace_sports_indexer_enabled" value="true" />
    <setting id="live_tv_travel_channel_1_indexer_enabled" value="true" />
    <setting id="live_tv_travel_channel_indexer_enabled" value="true" />
    <setting id="live_tv_true_entertainment_indexer_enabled" value="true" />
    <setting id="live_tv_true_movies_1_indexer_enabled" value="true" />
    <setting id="live_tv_true_movies_2_indexer_enabled" value="true" />
    <setting id="live_tv_tv5monde_indexer_enabled" value="true" />
    <setting id="live_tv_tv_shop_indexer_enabled" value="true" />
    <setting id="live_tv_tvc_news_indexer_enabled" value="true" />
    <setting id="live_tv_ucb_tv_indexer_enabled" value="true" />
    <setting id="live_tv_uctv_indexer_enabled" value="true" />
    <setting id="live_tv_ummah_channel_indexer_enabled" value="true" />
    <setting id="live_tv_ump_movies_indexer_enabled" value="true" />
    <setting id="live_tv_united_kingdom_indexer_enabled" value="true" />
    <setting id="live_tv_united_states_indexer_enabled" value="true" />
    <setting id="live_tv_universal_channel_1_indexer_enabled" value="true" />
    <setting id="live_tv_universal_channel_indexer_enabled" value="true" />
    <setting id="live_tv_v_channel_indexer_enabled" value="true" />
    <setting id="live_tv_venus_tv_indexer_enabled" value="true" />
    <setting id="live_tv_vh1_indexer_enabled" value="true" />
    <setting id="live_tv_vintage_tv_indexer_enabled" value="true" />
    <setting id="live_tv_viva_indexer_enabled" value="true" />
    <setting id="live_tv_vox_africa_indexer_enabled" value="true" />
    <setting id="live_tv_watch_1_indexer_enabled" value="true" />
    <setting id="live_tv_watch_indexer_enabled" value="true" />
    <setting id="live_tv_wedding_tv_indexer_enabled" value="true" />
    <setting id="live_tv_yesterday_1_indexer_enabled" value="true" />
    <setting id="live_tv_yesterday_indexer_enabled" value="true" />
    <setting id="live_tv_zing_indexer_enabled" value="true" />
</settings>
