<settings>
    <setting id="BackgroundFanart" value="false" />
    <setting id="PreviewThumbs" value="false" />
    <setting id="ReScan" value="" />
    <setting id="auto-play" value="false" />
    <setting id="auto-play_hd" value="false" />
    <setting id="auto-view" value="false" />
    <setting id="auto_host_1" value="180Upload" />
    <setting id="auto_host_2" value="BillionUploads" />
    <setting id="auto_host_3" value="HugeFiles" />
    <setting id="auto_play_method" value="1" />
    <setting id="axel-proxy" value="false" />
    <setting id="buffer-delay" value="10" />
    <setting id="clear_watched" value="" />
    <setting id="db_address" value="" />
    <setting id="db_export" value="" />
    <setting id="db_import" value="" />
    <setting id="db_name" value="Icefilms" />
    <setting id="db_pass" value="" />
    <setting id="db_port" value="" />
    <setting id="db_user" value="" />
    <setting id="default-view" value="50" />
    <setting id="delete-incomplete-downloads" value="true" />
    <setting id="display-show-eps" value="true" />
    <setting id="download-folder" value="" />
    <setting id="download-in-background" value="true" />
    <setting id="episodes-view" value="504" />
    <setting id="flatten-single-season" value="true" />
    <setting id="flatten-source-type" value="true" />
    <setting id="flush_cache" value="" />
    <setting id="hide-successful-login-messages" value="false" />
    <setting id="hide-tags" value="false" />
    <setting id="icefilms-url" value="http://ipv6.icefilms.info" />
    <setting id="meta-path" value="" />
    <setting id="meta_folder_location" value="" />
    <setting id="meta_pack_location_option" value="Default" />
    <setting id="movie-covers" value="false" />
    <setting id="movie-fanart" value="false" />
    <setting id="movies-view" value="503" />
    <setting id="movreel-account" value="false" />
    <setting id="movreel-password" value="" />
    <setting id="movreel-username" value="" />
    <setting id="next-aired" value="false" />
    <setting id="notify-percent" value="2" />
    <setting id="play-action" value="0" />
    <setting id="realdebrid-account" value="false" />
    <setting id="realdebrid-password" value="" />
    <setting id="realdebrid-username" value="" />
    <setting id="recent-watched" value="true" />
    <setting id="reset_db" value="" />
    <setting id="resume-support" value="true" />
    <setting id="resume-threshhold" value="2" />
    <setting id="search-results" value="25" />
    <setting id="seasons-view" value="504" />
    <setting id="sharebees-account" value="false" />
    <setting id="sharebees-password" value="" />
    <setting id="sharebees-username" value="" />
    <setting id="stack-multi-part" value="false" />
    <setting id="tv-covers" value="false" />
    <setting id="tv-fanart" value="false" />
    <setting id="tv-posters" value="false" />
    <setting id="tvshows-view" value="503" />
    <setting id="use-meta" value="false" />
    <setting id="use-special-structure" value="true" />
    <setting id="use_page_cache" value="false" />
    <setting id="use_remote_db" value="false" />
    <setting id="video-seeking" value="false" />
    <setting id="watched-percent" value="2" />
</settings>
