<settings>
    <setting id="addmethod" value="false" />
    <setting id="artbrowser" value="0" />
    <setting id="auto-update-lib" value="false" />
    <setting id="auto-view" value="true" />
    <setting id="autochan" value="true" />
    <setting id="autosource" value="false" />
    <setting id="bit-disc" value="0" />
    <setting id="choose-skin" value="true" />
    <setting id="con-view" value="3" />
    <setting id="customchannel" value="true" />
    <setting id="ddtv_dsr" value="false" />
    <setting id="ddtv_dvdrip" value="false" />
    <setting id="ddtv_hdtv480p" value="true" />
    <setting id="ddtv_hdtv720p" value="true" />
    <setting id="ddtv_my" value="false" />
    <setting id="ddtv_pdtv" value="false" />
    <setting id="ddtv_webdl1080p" value="true" />
    <setting id="ddtv_webdl720p" value="true" />
    <setting id="delete-incomplete-downloads" value="true" />
    <setting id="disj-qua" value="0" />
    <setting id="download-folder" value="" />
    <setting id="download-in-background" value="true" />
    <setting id="episodes-view" value="504" />
    <setting id="espn-qua" value="720p30_2896k" />
    <setting id="folderfanart" value="true" />
    <setting id="folderthumb" value="true" />
    <setting id="ga_time" value="2014-12-11 23:25:23" />
    <setting id="gastatus" value="true" />
    <setting id="ghpassword" value="" />
    <setting id="ghusername" value="" />
    <setting id="groupfavs" value="false" />
    <setting id="hide-download-instructions" value="false" />
    <setting id="hideinstruction" value="false" />
    <setting id="home-view" value="1" />
    <setting id="homeitems_1" value="10" />
    <setting id="homeitems_10" value="100" />
    <setting id="homeitems_10_enabled" value="false" />
    <setting id="homeitems_11" value="110" />
    <setting id="homeitems_11_enabled" value="false" />
    <setting id="homeitems_12" value="120" />
    <setting id="homeitems_12_enabled" value="true" />
    <setting id="homeitems_13" value="130" />
    <setting id="homeitems_13_enabled" value="true" />
    <setting id="homeitems_14" value="140" />
    <setting id="homeitems_14_enabled" value="true" />
    <setting id="homeitems_15" value="150" />
    <setting id="homeitems_15_enabled" value="true" />
    <setting id="homeitems_16" value="160" />
    <setting id="homeitems_16_enabled" value="true" />
    <setting id="homeitems_17" value="170" />
    <setting id="homeitems_17_enabled" value="true" />
    <setting id="homeitems_18" value="180" />
    <setting id="homeitems_18_enabled" value="true" />
    <setting id="homeitems_19" value="190" />
    <setting id="homeitems_19_enabled" value="true" />
    <setting id="homeitems_1_enabled" value="false" />
    <setting id="homeitems_2" value="20" />
    <setting id="homeitems_20" value="200" />
    <setting id="homeitems_20_enabled" value="true" />
    <setting id="homeitems_21" value="210" />
    <setting id="homeitems_21_enabled" value="true" />
    <setting id="homeitems_22" value="220" />
    <setting id="homeitems_22_enabled" value="true" />
    <setting id="homeitems_23" value="230" />
    <setting id="homeitems_23_enabled" value="true" />
    <setting id="homeitems_24" value="240" />
    <setting id="homeitems_24_enabled" value="true" />
    <setting id="homeitems_25" value="250" />
    <setting id="homeitems_25_enabled" value="true" />
    <setting id="homeitems_26" value="260" />
    <setting id="homeitems_26_enabled" value="true" />
    <setting id="homeitems_27" value="270" />
    <setting id="homeitems_27_enabled" value="true" />
    <setting id="homeitems_28" value="280" />
    <setting id="homeitems_28_enabled" value="false" />
    <setting id="homeitems_29" value="290" />
    <setting id="homeitems_29_enabled" value="false" />
    <setting id="homeitems_2_enabled" value="true" />
    <setting id="homeitems_3" value="30" />
    <setting id="homeitems_30" value="300" />
    <setting id="homeitems_30_enabled" value="false" />
    <setting id="homeitems_31" value="310" />
    <setting id="homeitems_31_enabled" value="false" />
    <setting id="homeitems_32" value="320" />
    <setting id="homeitems_32_enabled" value="false" />
    <setting id="homeitems_33" value="330" />
    <setting id="homeitems_33_enabled" value="false" />
    <setting id="homeitems_34" value="340" />
    <setting id="homeitems_34_enabled" value="false" />
    <setting id="homeitems_35" value="301" />
    <setting id="homeitems_35_enabled" value="false" />
    <setting id="homeitems_36" value="5" />
    <setting id="homeitems_36_enabled" value="true" />
    <setting id="homeitems_37" value="165" />
    <setting id="homeitems_37_enabled" value="true" />
    <setting id="homeitems_38" value="302" />
    <setting id="homeitems_38_enabled" value="false" />
    <setting id="homeitems_39" value="25" />
    <setting id="homeitems_39_enabled" value="true" />
    <setting id="homeitems_3_enabled" value="false" />
    <setting id="homeitems_4" value="40" />
    <setting id="homeitems_40" value="26" />
    <setting id="homeitems_40_enabled" value="true" />
    <setting id="homeitems_4_enabled" value="false" />
    <setting id="homeitems_5" value="50" />
    <setting id="homeitems_5_enabled" value="false" />
    <setting id="homeitems_6" value="60" />
    <setting id="homeitems_6_enabled" value="false" />
    <setting id="homeitems_7" value="70" />
    <setting id="homeitems_7_enabled" value="false" />
    <setting id="homeitems_8" value="80" />
    <setting id="homeitems_8_enabled" value="false" />
    <setting id="homeitems_9" value="90" />
    <setting id="homeitems_9_enabled" value="false" />
    <setting id="hqpassword" value="" />
    <setting id="hqusername" value="" />
    <setting id="jdcb" value="false" />
    <setting id="library-int" value="false" />
    <setting id="library-update" value="true" />
    <setting id="meta-view" value="true" />
    <setting id="meta-view-tv" value="false" />
    <setting id="mindexer" value="Movie25" />
    <setting id="movie-folder" value="special://userdata/addon_data/plugin.video.movie25/Movies" />
    <setting id="notify-percent" value="2" />
    <setting id="password" value="" />
    <setting id="playlistfanart" value="true" />
    <setting id="playlistthumb" value="true" />
    <setting id="rlspassword" value="" />
    <setting id="rlsusername" value="" />
    <setting id="seasons-view" value="504" />
    <setting id="skin" value="0" />
    <setting id="skypassword" value="" />
    <setting id="skyusername" value="" />
    <setting id="sort-library" value="0" />
    <setting id="srpassword" value="" />
    <setting id="srusername" value="" />
    <setting id="ss-qua" value="1943000" />
    <setting id="ss-sel" value="Movies" />
    <setting id="ssm_filestube" value="true" />
    <setting id="ssm_fma" value="true" />
    <setting id="ssm_icefilms" value="true" />
    <setting id="ssm_iwatch" value="true" />
    <setting id="ssm_mbox" value="true" />
    <setting id="ssm_movie25" value="true" />
    <setting id="ssm_mynewvideolinks" value="true" />
    <setting id="ssm_noobroom" value="true" />
    <setting id="ssm_scenesource" value="true" />
    <setting id="ssm_sceper" value="true" />
    <setting id="ssm_tubeplus" value="true" />
    <setting id="ssm_tvrelease" value="true" />
    <setting id="ssm_vip" value="true" />
    <setting id="ssm_watchingnow" value="true" />
    <setting id="ssm_yify" value="true" />
    <setting id="sstv_icefilms" value="true" />
    <setting id="sstv_iwatch" value="true" />
    <setting id="sstv_mbox" value="true" />
    <setting id="sstv_mynewvideolinks" value="true" />
    <setting id="sstv_pftv" value="true" />
    <setting id="sstv_rlsmix" value="true" />
    <setting id="sstv_scenelog" value="true" />
    <setting id="sstv_scenesource" value="true" />
    <setting id="sstv_sceper" value="true" />
    <setting id="sstv_tubeplus" value="true" />
    <setting id="sstv_tvrelease" value="true" />
    <setting id="sstv_watchseries" value="true" />
    <setting id="stracker" value="0" />
    <setting id="sub-view" value="0" />
    <setting id="tindexer" value="WatchSeries" />
    <setting id="trpassword" value="" />
    <setting id="trusername" value="" />
    <setting id="tsn-qua" value="0" />
    <setting id="tube-proxy" value="false" />
    <setting id="tzname" value="(GMT) Greenwich Mean Time: Dublin, Edinburgh, Lisbon, London" />
    <setting id="tztime" value="0" />
    <setting id="update-interval" value="3" />
    <setting id="updateoption" value="gitupdate2" />
    <setting id="username" value="" />
    <setting id="vice-qua" value="0" />
    <setting id="visitor_ga" value="1528740524" />
    <setting id="whistory" value="true" />
    <setting id="wild-qua" value="0" />
    <setting id="xpr-view" value="3" />
</settings>
