<settings>
    <setting id="debug" value="1" />
    <setting id="fanart_image" value="http://smb.cdnllnwnl.neulion.com/u/nba/nba/thumbs/dl/13552_pc.jpg" />
    <setting id="password" value="carmelo" />
    <setting id="quality_id" value="0" />
    <setting id="scores" value="0" />
    <setting id="username" value="mustafatosunolu" />
</settings>
