<settings>
    <setting id="auto-view" value="false" />
    <setting id="default" value="50" />
    <setting id="expiry" value="1441764833.000000" />
    <setting id="proxy" value="false" />
    <setting id="referer" value="tvplayer-iPhone" />
    <setting id="sort" value="false" />
    <setting id="token" value="037906b3cfcba731292a9ac140522b9b" />
</settings>
