<settings>
    <setting id="addons.ini.file" value="" />
    <setting id="addons.ini.type" value="0" />
    <setting id="alternative.playback" value="false" />
    <setting id="autostart" value="false" />
    <setting id="enable.osd" value="true" />
    <setting id="logos.enabled" value="true" />
    <setting id="logos.folder" value="" />
    <setting id="logos.source" value="0" />
    <setting id="notifications.enabled" value="true" />
    <setting id="skin" value="Default" />
    <setting id="xmltv.file" value="" />
    <setting id="xmltv.interval" value="0" />
    <setting id="xmltv.type" value="7" />
    <setting id="xmltv.type_select" value="TECBOX (Freeview UK)" />
</settings>
