<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32010">
    <setting label="32011" type="bool"   id="isProxyEnabled" default="false"/>
    <setting label="32012" type="text"   id="proxyName" default=""  enable="!eq(-1,false)"  />
      
     <setting type="sep"/>
			<setting label="32108" type="text" id="ShahidVodLogin" values="" default=""/>
			<setting label="32109" type="text" id="ShahidVodPwd" values="" default=""/>  

     <setting label="32014" type="labelenum" id="DefaultCDN" values="Default|l3|xdn|ak" default="Default"/>

     </category>
<category label="32015">
 <setting label="32020" type="bool"   id="playFirstChannel" default="false"/>
   <setting label="32021" type="lsep"/>
		<setting label="32022" type="labelenum" id="order1" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="Teledunet.com"/>
		<setting label="32023" type="labelenum" id="order2" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="livetv.tn"/>
		<setting label="32024" type="labelenum" id="order3" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="Shani"/>
		<setting label="32025" type="labelenum" id="order4" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="PC"/>
		<setting label="32026" type="labelenum" id="order5" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="Zombi"/>
		<setting label="32030" type="labelenum" id="order6" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="Local"/>
        <setting label="32054" type="labelenum" id="order7" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="GLArab"/>
        <setting label="32056" type="labelenum" id="order8" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="magictvBox"/>   
        <setting label="32059" type="labelenum" id="order9" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="Emad"/>   
        <setting label="32061" type="labelenum" id="order10" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="FilmOn"/>   
       <setting label="32064" type="labelenum" id="order11" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="Official"/>   
       <setting label="32068" type="labelenum" id="order12" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="Telvza"/>   
       <setting label="32083" type="labelenum" id="order13" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="IPTVPlanet"/>   
       <setting label="32085" type="labelenum" id="order14" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="ss"/>   
       <setting label="32087" type="labelenum" id="order15" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="ttv"/>   
       <setting label="32093" type="labelenum" id="order16" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="cdn"/>   
       <setting label="32094" type="labelenum" id="order17" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="yo"/>   
       <setting label="32100" type="labelenum" id="order18" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|GLArab|magictvBox|Emad|FilmOn|Official|Telvza|IPTVPlanet|ss|ttv|cdn|yo|kar" default="kar"/>   
        
     
	   </category>
	 <category label="32017">
		   <setting label="32041" type="lsep"/>
		<setting label="32018" type="text" id="liveTvLogin" values="" default=""/>
		<setting label="32019" type="text" id="liveTvPassword" values="" default=""/>  
		<setting label="32046" type="text" id="liveTvPremiumCode" values="" default=""/>  
		<setting label="32048" type="text" id="liveTvNonPremiumCode" values="" default=""/>  
		
		   <setting label="32045" type="lsep"/>
		<setting label="32039" type="text" id="teledunetTvLogin" values="" default=""/>
		<setting label="32040" type="text" id="teledunetTvPassword" values="" default=""/>  
			
		   <setting label="32071" type="lsep"/>
			<setting label="32072" type="text" id="GLArabUserName" values="" default="Anonymous"/>
			<setting label="32073" type="text" id="GLArabUserPwd" values="" default="Anonymous"/>  
			<setting label="32077" type="labelenum" id="GLArabServerHD" default="Try All" values="Disabled|Try All|38.99.146.38|38.99.146.36|38.99.146.37|216.66.42.84|216.66.42.85|38.99.146.40|38.99.146.158|8.21.48.19|8.21.48.20"/>
			<setting label="32078" type="labelenum" id="GLArabServerMED" default="Try All" values="Disabled|Try All|216.66.42.84|216.66.42.85|38.99.146.36|38.99.146.37|38.99.146.40|38.99.146.71|38.99.146.158|8.21.48.19|8.21.48.20"/>
			<setting label="32079" type="labelenum" id="GLArabServerLOW" default="Try All" values="Disabled|Try All|216.66.42.84|216.66.42.85|38.99.146.36|38.99.146.37|38.99.146.40|38.99.146.158|8.21.48.19|8.21.48.20|38.99.146.42|38.99.146.44"/>
			<setting label="32089" type="labelenum" id="GLArabServerLR" default="Try All" values="Disabled|Try All|38.99.146.94|38.99.146.151|38.99.146.152|8.21.48.116|8.21.48.117"/>
			<setting label="32091" type="labelenum" id="GLArabServerLOWNP" default="Try All" values="Disabled|Try All|216.66.42.86|216.66.42.87|38.99.146.42|38.99.146.44|8.21.48.26|8.21.48.28"/>

            
            <setting label="32090" type="bool"   id="isGLCommonProxyEnabled" default="false" />

            <setting label="32080" type="bool"   id="isGLProxyEnabled" default="false"/>
    <setting label="32081" type="text"   id="GLproxyName" default="127.0.0.1"  enable="!eq(-1,false)"  />
		   <setting label="32104" type="lsep"/>
			<setting label="32101" type="text" id="KARUSER" values="" default=""/>
			<setting label="32102" type="text" id="KARPWD" values="" default=""/>  
		   <setting label="32105" type="lsep"/>
			<setting label="32106" type="text" id="YOUSER" values="" default=""/>
			<setting label="32107" type="text" id="YOPWD" values="" default=""/>  
			<!--<setting label="32075" type="labelenum" id="GLArabQuality" values="Low|Med|HD" default="Low"/> -->
			<setting type="sep"/>
		
		<setting type="bool" label="32047" id="clearLogonSettings"  default="false"/>
	  </category>
	  
	   <category label="32027">
		<setting label="32028" type="file" id="localyoutubexmlpath" source="files" values="" default=""/>
		<setting label="32029" type="file" id="localstreampath" source="files" values="" default=""/>  
	  </category>
	   <category label="32031">
          <setting label="32038" type="lsep"/>

		<setting label="32032" type="bool"   id="isTeledunetcomSourceDisabled" default="false"/>
        <setting label="32033" type="bool"   id="islivetvtnSourceDisabled" default="false"/>
        <setting label="32034" type="bool"   id="isShaniSourceDisabled" default="false"/>
        <setting label="32035" type="bool"   id="isPCSourceDisabled" default="false"/>
        <setting label="32036" type="bool"   id="isZombiSourceDisabled" default="false"/>
        <setting label="32037" type="bool"   id="isLocalSourceDisabled" default="false"/>        
		<setting label="32053" type="bool"   id="isGLArabSourceDisabled" default="false"/>  
	<setting label="32055" type="bool"   id="ismagictvBoxSourceDisabled" default="false"/>  
    <setting label="32060" type="bool"   id="isEmadSourceDisabled" default="false"/>  
      <setting label="32062" type="bool"   id="isFilmonSourceDisabled" default="false"/>  
      <setting label="32065" type="bool"   id="isOfficialSourceDisabled" default="false"/>  
      <setting label="32069" type="bool"   id="isTelvzaSourceDisabled" default="false"/>  
      <setting label="32082" type="bool"   id="isIPTVPlanetSourceDisabled" default="false"/>  
      <setting label="32086" type="bool"   id="isssSourceDisabled" default="false"/>  
      <setting label="32088" type="bool"   id="isttvSourceDisabled" default="false"/>  
      <setting label="32095" type="bool"   id="icdnSourceDisabled" default="false"/>  
      <setting label="32096" type="bool"   id="isyoSourceDisabled" default="false"/>  
      <setting label="32103" type="bool"   id="iskarSourceDisabled" default="false"/>  
        

	  </category>
		<category label="32049">
			<setting label="32050" type="number" id="usethisviewmode" values="" default=""/>
            <setting label="32057" type="number" id="teledunetRetryCount" values="" default="5"/>
	   <setting label="32063"  type="bool" id="filmonDontPlayplayHigh" default="False"/>
       	   <setting label="32066"  type="bool" id="playOneByOne" default="False"/>
       	   <setting label="32084"  type="bool" id="stopAutoUpdate" default="False"/>

					
     <!--  <setting label="32058" type="bool" id="addToFavMode" default="false"/>-->
		 </category>
</settings>
